@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?92810421');
    src: url('../font/fontello.eot?92810421#iefix') format('embedded-opentype'), url('../font/fontello.woff?92810421') format('woff'), url('../font/fontello.ttf?92810421') format('truetype'), url('../font/fontello.svg?92810421#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92810421#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-tag-1:before {
    content: '\e921';
}


/* '' */

.icon-android:before {
    content: '\e91c';
}


/* '' */

.icon-note:before {
    content: '\e809';
}


/* '' */

.icon-note-beamed:before {
    content: '\e80a';
}


/* '' */

.icon-search:before {
    content: '\e80b';
}


/* '' */

.icon-flashlight:before {
    content: '\e80c';
}


/* '' */

.icon-mail:before {
    content: '\e80d';
}


/* '' */

.icon-heart:before {
    content: '\e80e';
}


/* '' */

.icon-heart-empty:before {
    content: '\e80f';
}


/* '' */

.icon-star:before {
    content: '\e810';
}


/* '' */

.icon-star-empty:before {
    content: '\e811';
}


/* '' */

.icon-user:before {
    content: '\e812';
}


/* '' */

.icon-users:before {
    content: '\e813';
}


/* '' */

.icon-user-add:before {
    content: '\e814';
}


/* '' */

.icon-video:before {
    content: '\e815';
}


/* '' */

.icon-picture:before {
    content: '\e816';
}


/* '' */

.icon-camera:before {
    content: '\e817';
}


/* '' */

.icon-layout:before {
    content: '\e920';
}


/* '' */

.icon-menu:before {
    content: '\e819';
}


/* '' */

.icon-check:before {
    content: '\e81a';
}


/* '' */

.icon-cancel:before {
    content: '\e81b';
}


/* '' */

.icon-cancel-circled:before {
    content: '\e89a';
}


/* '' */

.icon-cancel-squared:before {
    content: '\e89b';
}


/* '' */

.icon-plus:before {
    content: '\e81c';
}


/* '' */

.icon-plus-circled:before {
    content: '\e81d';
}


/* '' */

.icon-plus-squared:before {
    content: '\e81e';
}


/* '' */

.icon-minus:before {
    content: '\e81f';
}


/* '' */

.icon-minus-circled:before {
    content: '\e820';
}


/* '' */

.icon-minus-squared:before {
    content: '\e821';
}


/* '' */

.icon-help:before {
    content: '\e822';
}


/* '' */

.icon-help-circled:before {
    content: '\e823';
}


/* '' */

.icon-info:before {
    content: '\e824';
}


/* '' */

.icon-info-circled:before {
    content: '\e825';
}


/* '' */

.icon-back:before {
    content: '\e826';
}


/* '' */

.icon-home:before {
    content: '\e827';
}


/* '' */

.icon-link:before {
    content: '\e828';
}


/* '' */

.icon-attach:before {
    content: '\e829';
}


/* '' */

.icon-lock:before {
    content: '\e82a';
}


/* '' */

.icon-lock-open:before {
    content: '\e82b';
}


/* '' */

.icon-eye:before {
    content: '\e82c';
}


/* '' */

.icon-tag:before {
    content: '\e82d';
}


/* '' */

.icon-bookmark:before {
    content: '\e89c';
}


/* '' */

.icon-bookmarks:before {
    content: '\e89d';
}


/* '' */

.icon-flag:before {
    content: '\e82e';
}


/* '' */

.icon-thumbs-up:before {
    content: '\e82f';
}


/* '' */

.icon-thumbs-down:before {
    content: '\e830';
}


/* '' */

.icon-download:before {
    content: '\e831';
}


/* '' */

.icon-upload:before {
    content: '\e832';
}


/* '' */

.icon-upload-cloud:before {
    content: '\e833';
}


/* '' */

.icon-reply:before {
    content: '\e834';
}


/* '' */

.icon-reply-all:before {
    content: '\e835';
}


/* '' */

.icon-forward:before {
    content: '\e836';
}


/* '' */

.icon-quote:before {
    content: '\e837';
}


/* '' */

.icon-code:before {
    content: '\e838';
}


/* '' */

.icon-export:before {
    content: '\e839';
}


/* '' */

.icon-pencil:before {
    content: '\e83a';
}


/* '' */

.icon-feather:before {
    content: '\e83b';
}


/* '' */

.icon-print-1:before {
    content: '\e83c';
}


/* '' */

.icon-retweet:before {
    content: '\e83d';
}


/* '' */

.icon-keyboard:before {
    content: '\e83e';
}


/* '' */

.icon-comment:before {
    content: '\e83f';
}


/* '' */

.icon-chat:before {
    content: '\e89e';
}


/* '' */

.icon-bell:before {
    content: '\e89f';
}


/* '' */

.icon-attention:before {
    content: '\e840';
}


/* '' */

.icon-alert:before {
    content: '\e841';
}


/* '' */

.icon-vcard:before {
    content: '\e842';
}


/* '' */

.icon-address:before {
    content: '\e843';
}


/* '' */

.icon-location:before {
    content: '\e844';
}


/* '' */

.icon-map:before {
    content: '\e845';
}


/* '' */

.icon-direction:before {
    content: '\e846';
}


/* '' */

.icon-compass:before {
    content: '\e847';
}


/* '' */

.icon-cup:before {
    content: '\e848';
}


/* '' */

.icon-trash:before {
    content: '\e849';
}


/* '' */

.icon-doc:before {
    content: '\e84a';
}


/* '' */

.icon-docs:before {
    content: '\e84b';
}


/* '' */

.icon-doc-landscape:before {
    content: '\e84c';
}


/* '' */

.icon-doc-text:before {
    content: '\e84d';
}


/* '' */

.icon-doc-text-inv:before {
    content: '\e84e';
}


/* '' */

.icon-newspaper:before {
    content: '\e84f';
}


/* '' */

.icon-book-open:before {
    content: '\e850';
}


/* '' */

.icon-book:before {
    content: '\e851';
}


/* '' */

.icon-folder:before {
    content: '\e8a0';
}


/* '' */

.icon-archive:before {
    content: '\e8a1';
}


/* '' */

.icon-box:before {
    content: '\e852';
}


/* '' */

.icon-rss:before {
    content: '\e853';
}


/* '' */

.icon-phone:before {
    content: '\e854';
}


/* '' */

.icon-cog:before {
    content: '\e855';
}


/* '' */

.icon-tools:before {
    content: '\e856';
}


/* '' */

.icon-share:before {
    content: '\e857';
}


/* '' */

.icon-shareable:before {
    content: '\e858';
}


/* '' */

.icon-basket:before {
    content: '\e859';
}


/* '' */

.icon-bag:before {
    content: '\e85a';
}


/* '' */

.icon-certificate:before {
    content: '\F0A3';
}

.icon-calendar:before {
    content: '\e85b';
}


/* '' */

.icon-login:before {
    content: '\e85c';
}


/* '' */

.icon-logout:before {
    content: '\e85d';
}


/* '' */

.icon-mic:before {
    content: '\e85e';
}


/* '' */

.icon-mute:before {
    content: '\e85f';
}


/* '' */

.icon-sound:before {
    content: '\e860';
}


/* '' */

.icon-volume:before {
    content: '\e861';
}


/* '' */

.icon-clock:before {
    content: '\e862';
}


/* '' */

.icon-hourglass:before {
    content: '\e91f';
}


/* '' */

.icon-lamp:before {
    content: '\e8a2';
}


/* '' */

.icon-light-down:before {
    content: '\e8a3';
}


/* '' */

.icon-light-up:before {
    content: '\e864';
}


/* '' */

.icon-adjust:before {
    content: '\e865';
}


/* '' */

.icon-block:before {
    content: '\e866';
}


/* '' */

.icon-resize-full:before {
    content: '\e867';
}


/* '' */

.icon-resize-small:before {
    content: '\e868';
}


/* '' */

.icon-popup:before {
    content: '\e869';
}


/* '' */

.icon-publish:before {
    content: '\e86a';
}


/* '' */

.icon-window:before {
    content: '\e86b';
}


/* '' */

.icon-arrow-combo:before {
    content: '\e86c';
}


/* '' */

.icon-down-circled:before {
    content: '\e86d';
}


/* '' */

.icon-left-circled:before {
    content: '\e86e';
}


/* '' */

.icon-right-circled:before {
    content: '\e86f';
}


/* '' */

.icon-up-circled:before {
    content: '\e870';
}


/* '' */

.icon-down-open:before {
    content: '\e871';
}


/* '' */

.icon-left-open:before {
    content: '\e872';
}


/* '' */

.icon-right-open:before {
    content: '\e873';
}


/* '' */

.icon-up-open:before {
    content: '\e874';
}


/* '' */

.icon-down-open-mini:before {
    content: '\e875';
}


/* '' */

.icon-left-open-mini:before {
    content: '\e8a4';
}


/* '' */

.icon-right-open-mini:before {
    content: '\e8a5';
}


/* '' */

.icon-up-open-mini:before {
    content: '\e876';
}


/* '' */

.icon-down-open-big:before {
    content: '\e877';
}


/* '' */

.icon-left-open-big:before {
    content: '\e878';
}


/* '' */

.icon-right-open-big:before {
    content: '\e879';
}


/* '' */

.icon-up-open-big:before {
    content: '\e87a';
}


/* '' */

.icon-down:before {
    content: '\e87b';
}


/* '' */

.icon-left:before {
    content: '\e87c';
}


/* '' */

.icon-right:before {
    content: '\e87d';
}


/* '' */

.icon-up:before {
    content: '\e87e';
}


/* '' */

.icon-down-dir:before {
    content: '\e87f';
}


/* '' */

.icon-left-dir:before {
    content: '\e880';
}


/* '' */

.icon-right-dir:before {
    content: '\e881';
}


/* '' */

.icon-up-dir:before {
    content: '\e882';
}


/* '' */

.icon-down-bold:before {
    content: '\e883';
}


/* '' */

.icon-left-bold:before {
    content: '\e884';
}


/* '' */

.icon-right-bold:before {
    content: '\e885';
}


/* '' */

.icon-up-bold:before {
    content: '\e886';
}


/* '' */

.icon-down-thin:before {
    content: '\e887';
}


/* '' */

.icon-left-thin:before {
    content: '\e8a6';
}


/* '' */

.icon-right-thin:before {
    content: '\e8a7';
}


/* '' */

.icon-circle:before {
    content: '\e818';
}


/* '' */

.icon-ccw:before {
    content: '\e889';
}


/* '' */

.icon-cw:before {
    content: '\e88a';
}


/* '' */

.icon-arrows-ccw:before {
    content: '\e88b';
}


/* '' */

.icon-level-down:before {
    content: '\e88c';
}


/* '' */

.icon-level-up:before {
    content: '\e88d';
}


/* '' */

.icon-shuffle:before {
    content: '\e88e';
}


/* '' */

.icon-loop:before {
    content: '\e88f';
}


/* '' */

.icon-switch:before {
    content: '\e890';
}


/* '' */

.icon-play:before {
    content: '\e891';
}


/* '' */

.icon-stop:before {
    content: '\e892';
}


/* '' */

.icon-pause:before {
    content: '\e893';
}


/* '' */

.icon-record:before {
    content: '\e894';
}


/* '' */

.icon-to-end:before {
    content: '\e895';
}


/* '' */

.icon-to-start:before {
    content: '\e896';
}


/* '' */

.icon-fast-forward:before {
    content: '\e897';
}


/* '' */

.icon-fast-backward:before {
    content: '\e898';
}


/* '' */

.icon-progress-0:before {
    content: '\e899';
}


/* '' */

.icon-progress-1:before {
    content: '\e8a8';
}


/* '' */

.icon-progress-2:before {
    content: '\e8a9';
}


/* '' */

.icon-progress-3:before {
    content: '\e900';
}


/* '' */

.icon-target:before {
    content: '\e901';
}


/* '' */

.icon-palette:before {
    content: '\e902';
}


/* '' */

.icon-list:before {
    content: '\e903';
}


/* '' */

.icon-list-add:before {
    content: '\e904';
}


/* '' */

.icon-signal:before {
    content: '\e905';
}


/* '' */

.icon-trophy:before {
    content: '\e906';
}


/* '' */

.icon-battery:before {
    content: '\e907';
}


/* '' */

.icon-back-in-time:before {
    content: '\e908';
}


/* '' */

.icon-monitor:before {
    content: '\e909';
}


/* '' */

.icon-mobile:before {
    content: '\e90a';
}


/* '' */

.icon-network:before {
    content: '\e90b';
}


/* '' */

.icon-cd:before {
    content: '\e90c';
}


/* '' */

.icon-inbox:before {
    content: '\e90d';
}


/* '' */

.icon-install:before {
    content: '\e90e';
}


/* '' */

.icon-globe:before {
    content: '\e90f';
}


/* '' */

.icon-cloud:before {
    content: '\e910';
}


/* '' */

.icon-cloud-thunder:before {
    content: '\e911';
}


/* '' */

.icon-flash:before {
    content: '\e8aa';
}


/* '' */

.icon-moon:before {
    content: '\e8ab';
}


/* '' */

.icon-flight:before {
    content: '\e8ac';
}


/* '' */

.icon-paper-plane:before {
    content: '\e8ad';
}


/* '' */

.icon-leaf:before {
    content: '\e8ae';
}


/* '' */

.icon-lifebuoy:before {
    content: '\e8c3';
}


/* '' */

.icon-mouse:before {
    content: '\e8c4';
}


/* '' */

.icon-briefcase:before {
    content: '\e8c5';
}


/* '' */

.icon-suitcase:before {
    content: '\e8c6';
}


/* '' */

.icon-dot:before {
    content: '\e8c7';
}


/* '' */

.icon-dot-2:before {
    content: '\e8c8';
}


/* '' */

.icon-dot-3:before {
    content: '\e8c9';
}


/* '' */

.icon-brush:before {
    content: '\e8ca';
}


/* '' */

.icon-magnet:before {
    content: '\e8cb';
}


/* '' */

.icon-infinity:before {
    content: '\e8cc';
}


/* '' */

.icon-erase:before {
    content: '\e8cd';
}


/* '' */

.icon-chart-pie:before {
    content: '\e8ce';
}


/* '' */

.icon-chart-line:before {
    content: '\e8cf';
}


/* '' */

.icon-chart-bar:before {
    content: '\e8d0';
}


/* '' */

.icon-chart-area:before {
    content: '\e8d1';
}


/* '' */

.icon-tape:before {
    content: '\e8af';
}


/* '' */

.icon-graduation-cap:before {
    content: '\e8b0';
}


/* '' */

.icon-language:before {
    content: '\e8b1';
}


/* '' */

.icon-ticket:before {
    content: '\e8b2';
}


/* '' */

.icon-water:before {
    content: '\e8b3';
}


/* '' */

.icon-droplet:before {
    content: '\e8d2';
}


/* '' */

.icon-air:before {
    content: '\e8d3';
}


/* '' */

.icon-credit-card:before {
    content: '\e8d4';
}


/* '' */

.icon-floppy:before {
    content: '\e8d5';
}


/* '' */

.icon-clipboard:before {
    content: '\e8d6';
}


/* '' */

.icon-megaphone:before {
    content: '\e8d7';
}


/* '' */

.icon-database:before {
    content: '\e8d8';
}


/* '' */

.icon-drive:before {
    content: '\e8d9';
}


/* '' */

.icon-bucket:before {
    content: '\e8da';
}


/* '' */

.icon-thermometer:before {
    content: '\e8db';
}


/* '' */

.icon-key:before {
    content: '\e8dc';
}


/* '' */

.icon-flow-cascade:before {
    content: '\e8dd';
}


/* '' */

.icon-flow-branch:before {
    content: '\e8de';
}


/* '' */

.icon-flow-tree:before {
    content: '\e8df';
}


/* '' */

.icon-flow-line:before {
    content: '\e8e0';
}


/* '' */

.icon-flow-parallel:before {
    content: '\e8b4';
}


/* '' */

.icon-rocket:before {
    content: '\e8b5';
}


/* '' */

.icon-gauge:before {
    content: '\e8b6';
}


/* '' */

.icon-traffic-cone:before {
    content: '\e8b7';
}


/* '' */

.icon-cc:before {
    content: '\e8b8';
}


/* '' */

.icon-cc-by:before {
    content: '\e8e1';
}


/* '' */

.icon-cc-nc:before {
    content: '\e8e2';
}


/* '' */

.icon-cc-nc-eu:before {
    content: '\e8e3';
}


/* '' */

.icon-cc-nc-jp:before {
    content: '\e8e4';
}


/* '' */

.icon-cc-sa:before {
    content: '\e8e5';
}


/* '' */

.icon-cc-nd:before {
    content: '\e8e6';
}


/* '' */

.icon-cc-pd:before {
    content: '\e8e7';
}


/* '' */

.icon-cc-zero:before {
    content: '\e8e8';
}


/* '' */

.icon-cc-share:before {
    content: '\e8e9';
}


/* '' */

.icon-cc-remix:before {
    content: '\e8ea';
}


/* '' */

.icon-github:before {
    content: '\e8eb';
}


/* '' */

.icon-github-circled:before {
    content: '\e8ec';
}


/* '' */

.icon-flickr:before {
    content: '\e914';
}


/* '' */

.icon-flickr-circled:before {
    content: '\e807';
}


/* '' */

.icon-vimeo:before {
    content: '\e91a';
}


/* '' */

.icon-vimeo-circled:before {
    content: '\e8b9';
}


/* '' */

.icon-twitter:before {
    content: '\e913';
}


/* '' */

.icon-twitter-circled:before {
    content: '\e802';
}


/* '' */

.icon-facebook:before {
    content: '\e912';
}


/* '' */

.icon-facebook-circled:before {
    content: '\e801';
}


/* '' */

.icon-facebook-squared:before {
    content: '\e808';
}


/* '' */

.icon-gplus:before {
    content: '\e918';
}


/* '' */

.icon-gplus-circled:before {
    content: '\e804';
}


/* '' */

.icon-pinterest:before {
    content: '\e917';
}


/* '' */

.icon-pinterest-circled:before {
    content: '\e803';
}


/* '' */

.icon-tumblr:before {
    content: '\e8ed';
}


/* '' */

.icon-tumblr-circled:before {
    content: '\e8ee';
}


/* '' */

.icon-linkedin:before {
    content: '\e916';
}


/* '' */

.icon-linkedin-circled:before {
    content: '\e805';
}


/* '' */

.icon-dribbble:before {
    content: '\e915';
}


/* '' */

.icon-dribbble-circled:before {
    content: '\e806';
}


/* '' */

.icon-stumbleupon:before {
    content: '\e8ef';
}


/* '' */

.icon-stumbleupon-circled:before {
    content: '\e8f0';
}


/* '' */

.icon-lastfm:before {
    content: '\e8f1';
}


/* '' */

.icon-lastfm-circled:before {
    content: '\e8f2';
}


/* '' */

.icon-rdio:before {
    content: '\e8ba';
}


/* '' */

.icon-rdio-circled:before {
    content: '\e8bb';
}


/* '' */

.icon-spotify:before {
    content: '\e8bc';
}


/* '' */

.icon-spotify-circled:before {
    content: '\e8bd';
}


/* '' */

.icon-qq:before {
    content: '\e8be';
}


/* '' */

.icon-instagram:before {
    content: '\e919';
}


/* '' */

.icon-dropbox:before {
    content: '\e800';
}


/* '' */

.icon-evernote:before {
    content: '\e8f3';
}


/* '' */

.icon-flattr:before {
    content: '\e8f4';
}


/* '' */

.icon-skype:before {
    content: '\e8f5';
}


/* '' */

.icon-skype-circled:before {
    content: '\e8f6';
}


/* '' */

.icon-renren:before {
    content: '\e8f7';
}


/* '' */

.icon-sina-weibo:before {
    content: '\e8f8';
}


/* '' */

.icon-paypal:before {
    content: '\e8f9';
}


/* '' */

.icon-picasa:before {
    content: '\e8fa';
}


/* '' */

.icon-soundcloud:before {
    content: '\e8fb';
}


/* '' */

.icon-mixi:before {
    content: '\e8fc';
}


/* '' */

.icon-behance:before {
    content: '\e8fd';
}


/* '' */

.icon-google-circles:before {
    content: '\e8fe';
}


/* '' */

.icon-vkontakte:before {
    content: '\e8ff';
}


/* '' */

.icon-smashing:before {
    content: '\e8bf';
}


/* '' */

.icon-sweden:before {
    content: '\e8c0';
}


/* '' */

.icon-db-shape:before {
    content: '\e8c1';
}


/* '' */

.icon-logo-db:before {
    content: '\e8c2';
}


/* '' */

.icon-cancel-1:before {
    content: '\e863';
}


/* '' */

.icon-up-thin:before {
    content: '\e888';
}


/* '' */